<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict/>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show nearby clubs and events</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need your location to show nearby clubs and events</string>
    <key>NSCameraUsageDescription</key>
    <string>We need camera access to take profile pictures and post photos</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to upload pictures</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need access to save photos to your library</string>
</dict>
</plist>
